<template>
    <div>
        <h1>Person</h1>

        <p> Fetching data from the server.</p>

        <button type="button" v-on:click="Create" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel"> {{CreateOrUpdateMessage}}</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form v-on:submit.prevent="PostData">
                            <div class="form-group">
                                <label for="first-name" class="col-form-label">First Name:</label>
                                <input type="text" v-model="userData.firstName" class="form-control" id="first-name" required>
                            </div>
                            <div class="form-group">
                                <label for="last-name" class="col-form-label">Last Name:</label>
                                <input type="text" v-model="userData.lastName" class="form-control" id="last-name" required>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-form-label">Address:</label>
                                <input type="text" v-model="userData.address" class="form-control" id="address" required>
                            </div>
                            <button v-if="isEdit" type="submit" class="btn btn-primary">Update</button>
                            <button v-if="!isEdit" type="submit" class="btn btn-primary">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <table v-if="persons.length" class="table">
            <thead>
                <tr>
                    <th>S NO.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in persons">
                    <td>{{index+1}}</td>
                    <td>{{ item.firstName }}</td>
                    <td>{{ item.lastName }}</td>
                    <td>{{ item.address }}</td>
                    <td>
                        <button v-on:click="testGetData(item.personID)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit</button>
                        <button v-on:click="Delete(item.personID)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>


        <p v-else><em>Loading...</em></p>
    </div>

</template>

<script src="./person.ts"></script>
